# Este archivo se usa para definir a los propietarios del código del repositorio.

# A los propietarios se les solicita automáticamente una revisión cuando alguien abre un pull request.

# Asignar a @alvar3zjos3 como propietario de todo el repositorio por defecto

- @alvar3zjos3
